*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body{
    background-color: #2A2C2F;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .casa{
    width:50px;
    height:50px;
    border:1px solid white;
    text-align: center;
    font-weight: 800;
    font-size: 2.4rem;
  }
  #tabuleiro{
    width:90%;
    margin: 1rem auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .linha{
    display: flex;
  }
  h1{
    margin-bottom: 1rem;
    margin-top: 15%;
  }
  #x-ou-o{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #radios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#radios>div{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 10px;  
}
label{
    margin-left: 10px;
}
input[type='button']{
    color:black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    margin: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#placar{
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.placar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 1rem;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  font-size: 1.5rem;
  font-weight: 800;
}
.placar>p:last-child{
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 7px;
  color: white;
}
#placar>.placar:first-child>p:first-child{
  color:#F820CA;
}
#placar>.placar:last-child>p:first-child{
  color:#68F820;
}
#botoes{
  display: none;
  justify-content: center;
  align-items: center;
}
#mensagem{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
